matrix:
include:
- os: linux
  addons:
    apt:
      sources:
        - ubuntu-toolchain-r-test
      packages:
        - g++-7
  env:
    - MATRIX_EVAL="CC=gcc-7 && CXX=g++-7"
language: cpp
compiler: gcc
git:
- submodules: false
before_install:
- eval "${MATRIX_EVAL}"
- sed -i 's/git@github.com:/git:\/\/github.com\//' .gitmodules
- git submodule update --init --recursive
install:
- DEPS_DIR="${TRAVIS_BUILD_DIR}/deps"
- mkdir ${DEPS_DIR} && cd ${DEPS_DIR}
- travis_retry wget --no-check-certificate https://cmake.org/files/v3.15/cmake-3.15.4-Linux-x86_64.tar.gz
- tar -xvf cmake-3.15.4-Linux-x86_64.tar.gz > /dev/null
- mv cmake-3.15.4-Linux-x86_64 cmake-install
- PATH=${DEPS_DIR}/cmake-install:${DEPS_DIR}/cmake-install/bin:$PATH
- cd ${TRAVIS_BUILD_DIR}
before_script:
- sudo apt-get install doxygen
script:
- mkdir build
- cd build
- cmake ..
- cmake --build .
- cmake --build . --target package
- doxygen doxygen.conf
deploy:
- provider: pages
  skip_cleanup: true
  github_token: $GITHUB_TOKEN
  keep_history: true
  local_dir: "doc/html"
  on:
    branch: master
- provider: script
  skip_cleanup: true
  script:
  - curl -T matrix-0.0.$TRAVIS_BUILD_NUMBER-Linux.deb -utantskii:$BINTRAY_API_KEY "https://api.bintray.com/content/myorguniqueid/otus/matrix/$TRAVIS_BUILD_NUMBER/matrix-0.0.$TRAVIS_BUILD_NUMBER-Linux.deb;deb_distribution=trusty;deb_component=main;deb_architecture=amd64;publish=1"
